.cabecera {
  display: flex;
  justify-content: space-around;
  padding: 0.5rem;
}

.logo {
  display: none;
}

@media screen and (min-width: 40em) {
  .cabecera {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f9f9f9;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .logo {
    display: flex;
  }
}
